<html>

<head>
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/app.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <meta property="og:title" content="Clover Coin Designs" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://clovercoin.com/assets/img/carousel/1.png" />
    <meta property="og:url" content="http://www.clovercoin.com" />
    <meta property="og:description" content="Clover Coin Designs is a professional digital art studio run by AJ Driscoll available for commission. Let's make something amazing toghther!" />
    <meta property="og:site_name" content="Clover Coin Designs" />
    <title>Clover Coin Designs</title>
</head>

<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <div class="menu-text logo show-for-large">
                <a href="/"><img src="./assets/img/banner_cc_9.png" /></a>
            </div>
            <div class="logo show-for-small hide-for-large text-center">
                <a href="/"><i class="fa fa-paint-brush"> </i> Clover Coin Designs</a>
            </div>
        </div>
        <div class="top-bar-right">
            <div class="button-group stacked-for-small">
                <a href="./about.html" class="button">About Me</a>
                <a href="./tos.html" class="button">Terms of Service</a>
                <a href="#" class="button">Contact AJ</a>
            </div>
        </div>
    </div>
