<html>

<head>
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/app.css">
    <title>Clover Coin Designs</title>
</head>

<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <div class="menu-text logo show-for-large">
                <a href="/"><img src="./assets/img/banner_cc_9.png" /></a>
            </div>
            <div class="logo show-for-small hide-for-large text-center">
                <a href="/"><i class="fa fa-paint-brush"> </i> Clover Coin Designs</a>
            </div>
        </div>
        <div class="top-bar-right">
            <div class="button-group stacked-for-small">
                <a href="#" class="button">About Me</a>
                <a href="./tos.html" class="button">Terms of Service</a>
                <a href="#" class="button">Contact AJ</a>
            </div>
        </div>
    </div>
